:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  display: flex;
  place-content: center;
  place-items: center;
  background-color: black;
}

.container {
  container-type: inline-size;
  container-name: canvas;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  width: 100vw;
  height: auto;
  aspect-ratio: 320 / 224;

  @media (orientation: landscape) {
    height: 100vh;
    width: auto;
  }
}

.canvas {
  height: auto !important;
  aspect-ratio: 320 / 224;
}

.canvas,
.canvas > div {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}

.canvas canvas {
  aspect-ratio: 320 / 224;
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
}

.debug {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  padding: 0.5rem;
  color: lightgreen;
}

.d-pad {
  position: fixed;
  z-index: 999;
  bottom: 20px;
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: block;
}

@media (pointer: fine) {
  .d-pad {
    display: none;
  }
}

.d-pad .set {
  position: absolute;
  top: 50%;
  width: max-content;
  transform-origin: center center;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  gap: 50px;
}

.d-pad .vertical {
  rotate: 90deg;
}

.d-pad .horizontal {
  rotate: 0deg;
}
.d-pad button {
  background-color: white;
  height: 50px;
  color: black;
  width: 80px;
  border-radius: 10px;
  user-select: none;
}
