:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  place-content: center;
  place-items: center;
  background-color: black;
}

.canvas,
.canvas > div {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  width: 100vw !important;
  height: calc(100vw / (320 / 224)) !important;
}

.canvas canvas {
  aspect-ratio: 320 / 224;
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
}

.debug {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  padding: 0.5rem;
  color: lightgreen;
}
